# LLM FACTORY SETTINGS
API_URL = "LLM_FACTORY_API_ENDPOINT_HERE"
API_KEY = "LLM_FACTORY_KEY_HERE"
# MODEL NAMES
LLAMA_3_1 = "LLM_FACTORY_ID_HERE"
ABLITERATED = "LLM_FACTORY_ID_HERE"

# OLLAMA SETTINGS
# API_URL = "http://localhost:11434/v1/"
# API_KEY = "ollama"
# MODEL NAMES
# LLAMA_3_1 = "llama3.1"
# ABLITERATED = "superdrew100/llama3-abliterated"